<header>
  <nav class="container">
    <a href="">
      <img
        class="logo"
        src="/assets/img/logo.svg"
        alt="Collaby logo"
      />
    </a>
    <ul class="menu">
      <li>
        <a
          class="link-flip"
          href=""
          ><span>How it works</span></a>
      </li>
      <li><a class="link-flip" href=""><span>Pricing</span></a></li>
      <li><a class="link-flip" href=""><span>Features</span></a></li>
      <li><a class="link-flip" href=""><span>Contact</span></a></li>
    </ul>
    <div class="buttons">
      <a
        class="button button-accent"
        href=""
        ><span class="button-accent-text">Shop Now</span></a
      >
      <a
        class="theme-switcher"
        href=""
        ><img
          src="/assets/icons/moon.svg"
          alt="Theme switcher"
        /></a
      >
    </div>
  </nav>
</header>
