<header class="header">
  <nav class="header__nav">
    <a href="">
      <img
        class="header__logo"
        src="/assets/img/logo.svg"
        alt="Collaby logo"
      />
    </a>
    <ul class="header__menu">
      <li>
        <a
          class="link-flip"
          href=""
          ><span>How it works</span></a
        >
      </li>
      <li>
        <a
          class="link-flip"
          href=""
          ><span>Pricing</span></a>
      </li>
      <li>
        <a
          class="link-flip"
          href=""
          ><span>Features</span></a>
      </li>
      <li>
        <a
          class="link-flip"
          href=""
          ><span>Contact</span></a>
      </li>
    </ul>
    <div class="header__buttons">
      <a
        class="header__button"
        href=""
        ><span class="header__button-text">Shop Now</span></a
      >
      <a
        class="header__theme-switcher"
        href=""
        ><img
          src="/assets/icons/moon.svg"
          alt="Theme switcher"
        /></a
      >
    </div>
  </nav>
</header>
