---

---

<section>
  <div class="hero">
    <div class="hero__CTA">
      <div class="hero__CTA__portraits">
        <img
        class="hero__CTA__portrait"
          src="/assets/img/portrait-1.png"
          alt=""
        /><img
        class="hero__CTA__portrait"
          src="/assets/img/portrait-2.png"
          alt=""
        /><img
        class="hero__CTA__portrait"
          src="/assets/img/portrait-3.png"
          alt=""
        />
      </div>
      <p class="hero__CTA__text">Join 6k+ Members</p>
      <button class="hero__CTA__button">Waitlist</button>
    </div>
    <div class="hero__main-block">
      <div class="hero__image">
        <img
          src="/assets/img/hero-bg.svg"
          alt="Grid background"
        />
      </div>
      <h1 class="hero__title">
        Empower Teams to <br /> Work <span class="hero__title--accent"
          >Together</span
        >
      </h1>
      <p class="hero__text">
        Your go-to platform for seamless, efficient, and productive teamwork.
      </p>
      <button class="button">Explore Features</button>
    </div>
  </div>
</section>
