.header {
  border-bottom: 1px solid var(--shade-◼️-dark-80);
  display: grid;
  height: 5.125rem;
  width: 100%;
  font-size: 14px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.header__menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  color: var(--shade-◼️-dark-1000);
}

.header__logo {
  place-items: center;
}

.header__buttons {
  display: flex;
  gap: 1rem;
}

.header__theme-switcher {
  border: 1px solid var(--shade-◼️-dark-100);
  border-radius: 100%;
  padding: 0.625rem;
  width: 2.75rem;
  height: 2.75rem;
}

.header__button {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
  background-color: var(--📦-common-★-primary-medium);
  color: var(--shade-fixed-fix-dark);
  border-radius: 0.5rem;
  /* padding: 0.5rem 1rem; */
  width: 8rem;
  height: 2.75rem;
  text-wrap: nowrap;
  border: 1px solid var(--📦-common-★-primary-medium);
  overflow: hidden;
  padding: 0;
}

.header__button-text {
  display: inline-flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
  transition: var(--transition-duration) ease;
  padding-inline-start: 10%;

  &::before {
    margin-top: 0.4rem;
    content: url(/assets/icons/shopping-cart.svg);
    opacity: 1;
    transition: 0.2s ease;
  }

  &::after {
    margin-top: 0.4rem;
    content: url(/assets/icons/arrow-right.svg);
    opacity: 0;
    transition: 0.2s ease;
  }

  &:hover {
    transform: translateX(-23%);
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
}
