@import url(./reset.css);

:root {
  --font-family: 'Inter Variable', sans-serif;
  --second-family: 'Almarai', sans-serif;
  --third-family: 'Bricolage Grotesque Variable', sans-serif;

  --color-uicolors-neutral-100: #fcfcfc;
  --color-uicolors-neutral-200: #f5f5f5;
  --color-uicolors-neutral-400: #cfcfcf;
  --color-uicolors-neutral-800: #2e2e2e;
  --color-uicolors-neutral-600: #666;
  --color-uicolors-neutral-300: #ebebeb;
  --color-uicolors-neutral-700: #434343;
  --color-uicolors-neutral-900: #1c1c1c;
  --color-uicolors-neutral-500: #949494;
  --color-uicolors-neutral-950: #0e0e0e;
  --color-uicolors-green-f2w-950: #002e20;
  --color-uicolors-green-f2w-900: #035138;
  --color-uicolors-green-f2w-800: #026343;
  --color-uicolors-green-f2w-700: #007d52;
  --color-uicolors-green-f2w-600: #009c62;
  --color-uicolors-green-f2w-500: #0ace82;
  --color-uicolors-green-f2w-400: #2ed991;
  --color-uicolors-green-f2w-300: #69ecb1;
  --color-uicolors-green-f2w-200: #a4f6cb;
  --color-uicolors-green-f2w-100: #cffce2;
  --color-uicolors-green-f2w-50: #ebfef4;
  --color-light-1000: #fff;
  --color-light-900: rgba(255, 255, 255, 0.9);
  --color-light-800: rgba(255, 255, 255, 0.8);
  --color-light-700: rgba(255, 255, 255, 0.7);
  --color-light-600: rgba(255, 255, 255, 0.6);
  --color-uicolors-yellow-100: #fef9c3;
  --color-uicolors-yellow-50: #fefce8;
  --color-uicolors-amber-950: #451a03;
  --color-uicolors-amber-800: #92400e;
  --color-uicolors-amber-900: #78350f;
  --color-uicolors-amber-600: #d97706;
  --color-uicolors-amber-500: #f59e0b;
  --color-uicolors-slate-800: #1e293b;
  --color-uicolors-amber-400: #fbbf24;
  --color-uicolors-amber-100: #fef3c7;
  --color-uicolors-orange-950: #431407;
  --color-uicolors-orange-700: #c2410c;
  --color-uicolors-slate-700: #334155;
  --color-uicolors-orange-600: #ea580c;
  --color-uicolors-orange-300: #fdba74;
  --color-uicolors-orange-200: #fed7aa;
  --color-uicolors-orange-100: #ffedd5;
  --color-uicolors-orange-50: #fff7ed;
  --color-uicolors-red-950: #450a0a;
  --color-uicolors-red-900: #7f1d1d;
  --color-uicolors-slate-600: #475569;
  --color-uicolors-red-800: #991b1b;
  --color-uicolors-red-300: #fca5a5;
  --color-uicolors-red-200: #fecaca;
  --color-uicolors-red-100: #fee2e2;
  --color-uicolors-red-50: #fef2f2;
  --color-uicolors-stone-950: #0c0a09;
  --color-uicolors-stone-900: #1c1917;
  --color-uicolors-stone-800: #292524;
  --color-uicolors-pink-700: #be185d;
  --color-uicolors-stone-50: #fafaf9;
  --color-uicolors-emerald-950: #022c22;
  --color-uicolors-stone-600: #57534e;
  --color-uicolors-zinc-900: #18181b;
  --color-uicolors-zinc-800: #27272a;
  --color-uicolors-zinc-700: #3f3f46;
  --color-uicolors-zinc-500: #71717a;
  --color-uicolors-yellow-200: #fef08a;
  --color-uicolors-zinc-400: #a1a1aa;
  --color-uicolors-rose-950: #4c0519;
  --color-uicolors-orange-400: #fb923c;
  --color-uicolors-lime-50: #faffe4;
  --color-uicolors-rose-600: #e11d48;
  --color-uicolors-pink-300: #f9a8d4;
  --color-uicolors-stone-100: #f5f5f4;
  --color-uicolors-red-400: #f87171;
  --color-uicolors-zinc-950: #09090b;
  --color-uicolors-cool-50: #f9fafb;
  --color-uicolors-slate-300: #cbd5e1;
  --color-uicolors-rose-800: #9f1239;
  --color-uicolors-amber-300: #fcd34d;
  --color-uicolors-rose-500: #f43f5e;
  --color-uicolors-rose-400: #fb7185;
  --color-uicolors-rose-300: #fda4af;
  --color-uicolors-zinc-300: #d4d4d8;
  --color-uicolors-pink-950: #500724;
  --color-uicolors-rose-700: #be123c;
  --color-uicolors-rose-200: #fecdd3;
  --color-uicolors-purple-400: #c084fc;
  --color-uicolors-slate-400: #94a3b8;
  --color-uicolors-rose-100: #ffe4e6;
  --color-uicolors-sky-900: #0c4a6e;
  --color-uicolors-rose-50: #fff1f2;
  --color-uicolors-zinc-50: #fafafa;
  --color-uicolors-pink-500: #ec4899;
  --color-uicolors-yellow-400: #facc15;
  --color-uicolors-pink-200: #fbcfe8;
  --color-uicolors-pink-100: #fce7f3;
  --color-uicolors-teal-50: #f0fdfa;
  --color-uicolors-fuchsia-950: #4a044e;
  --color-uicolors-fuchsia-900: #701a75;
  --color-uicolors-fuchsia-800: #86198f;
  --color-uicolors-stone-300: #d6d3d1;
  --color-uicolors-blue-100: #dbeafe;
  --color-uicolors-fuchsia-500: #d946ef;
  --color-uicolors-fuchsia-400: #e879f9;
  --color-uicolors-purple-950: #3b0764;
  --color-uicolors-purple-900: #581c87;
  --color-uicolors-purple-800: #6b21a8;
  --color-uicolors-purple-700: #7e22ce;
  --color-uicolors-slate-200: #e2e8f0;
  --color-uicolors-purple-200: #e9d5ff;
  --color-uicolors-cool-700: #374151;
  --color-uicolors-purple-50: #faf5ff;
  --color-uicolors-violet-950: #2e1065;
  --color-uicolors-violet-800: #5b21b6;
  --color-uicolors-violet-600: #7c3aed;
  --color-uicolors-zinc-200: #e4e4e7;
  --color-uicolors-violet-500: #8b5cf6;
  --color-uicolors-violet-900: #4c1d95;
  --color-uicolors-cool-800: #1f2937;
  --color-uicolors-cool-950: #030712;
  --color-uicolors-red-500: #ef4444;
  --color-uicolors-teal-200: #99f6e4;
  --color-uicolors-violet-400: #a78bfa;
  --color-uicolors-violet-300: #c4b5fd;
  --color-uicolors-stone-700: #44403c;
  --color-uicolors-violet-100: #ede9fe;
  --color-uicolors-fuchsia-700: #a21caf;
  --color-uicolors-purple-600: #9333ea;
  --color-uicolors-violet-50: #f5f3ff;
  --color-uicolors-indigo-500: #6366f1;
  --color-uicolors-red-700: #b91c1c;
  --color-uicolors-indigo-400: #818cf8;
  --color-uicolors-indigo-300: #a5b4fc;
  --color-uicolors-blue-950: #172554;
  --color-uicolors-fuchsia-600: #c026d3;
  --color-uicolors-purple-100: #f3e8ff;
  --color-uicolors-indigo-900: #312e81;
  --color-uicolors-blue-900: #1e3a8a;
  --color-uicolors-cyan-600: #0891b2;
  --color-uicolors-green-500: #00c16a;
  --color-uicolors-blue-300: #93c5fd;
  --color-uicolors-indigo-950: #1e1b4b;
  --color-uicolors-pink-600: #db2777;
  --color-uicolors-teal-900: #134e4a;
  --color-uicolors-cool-500: #6b7280;
  --color-uicolors-rose-900: #881337;
  --color-uicolors-sky-950: #082f49;
  --color-uicolors-cyan-200: #a5f3fc;
  --color-uicolors-zinc-100: #f4f4f5;
  --color-uicolors-lime-900: #3d5c0b;
  --color-uicolors-sky-700: #0369a1;
  --color-uicolors-sky-600: #0284c7;
  --color-uicolors-violet-200: #ddd6fe;
  --color-uicolors-stone-200: #e7e5e4;
  --color-uicolors-cyan-500: #06b6d4;
  --color-uicolors-teal-700: #0f766e;
  --color-uicolors-indigo-50: #eef2ff;
  --color-uicolors-blue-50: #eff6ff;
  --color-uicolors-fuchsia-300: #f0abfc;
  --color-uicolors-sky-300: #7dd3fc;
  --color-uicolors-yellow-500: #eab308;
  --color-uicolors-cool-200: #e5e7eb;
  --color-uicolors-cool-400: #9ca3af;
  --color-uicolors-slate-500: #64748b;
  --color-uicolors-fuchsia-100: #fae8ff;
  --color-uicolors-violet-700: #6d28d9;
  --color-uicolors-cool-600: #4b5563;
  --color-uicolors-pink-800: #9d174d;
  --color-uicolors-green-50: #effdf5;
  --color-uicolors-sky-50: #f0f9ff;
  --color-uicolors-sky-400: #38bdf8;
  --color-uicolors-lime-100: #f3ffc4;
  --color-uicolors-cyan-900: #164e63;
  --color-uicolors-sky-200: #bae6fd;
  --color-uicolors-cyan-700: #0e7490;
  --color-uicolors-cyan-300: #67e8f9;
  --color-uicolors-stone-500: #78716c;
  --color-uicolors-emerald-800: #065f46;
  --color-uicolors-green-600: #00a155;
  --color-uicolors-yellow-950: #422006;
  --color-uicolors-fuchsia-50: #fdf4ff;
  --color-uicolors-purple-300: #d8b4fe;
  --color-uicolors-emerald-400: #34d399;
  --color-uicolors-emerald-600: #059669;
  --color-uicolors-blue-600: #2563eb;
  --color-uicolors-green-300: #75edae;
  --color-uicolors-cool-300: #d1d5db;
  --color-uicolors-cyan-400: #22d3ee;
  --color-uicolors-emerald-100: #d1fae5;
  --color-uicolors-teal-100: #ccfbf1;
  --color-uicolors-cyan-100: #cffafe;
  --color-uicolors-orange-500: #f97316;
  --color-uicolors-cyan-950: #083344;
  --color-uicolors-orange-800: #9a3412;
  --color-uicolors-teal-600: #0d9488;
  --color-uicolors-teal-800: #115e59;
  --color-uicolors-indigo-700: #4338ca;
  --color-uicolors-teal-400: #2dd4bf;
  --color-uicolors-lime-800: #486d07;
  --color-uicolors-sky-500: #0ea5e9;
  --color-uicolors-emerald-500: #10b981;
  --color-uicolors-cool-100: #f3f4f6;
  --color-uicolors-teal-950: #042f2e;
  --color-uicolors-indigo-100: #e0e7ff;
  --color-uicolors-lime-500: #9be600;
  --color-uicolors-stone-400: #a8a29e;
  --color-uicolors-amber-700: #b45309;
  --color-uicolors-blue-200: #bfdbfe;
  --color-uicolors-sky-800: #075985;
  --color-uicolors-emerald-50: #ecfdf5;
  --color-uicolors-blue-800: #1e40af;
  --color-uicolors-yellow-900: #713f12;
  --color-uicolors-emerald-900: #064e3b;
  --color-uicolors-lime-200: #e5ff90;
  --color-uicolors-green-800: #016538;
  --color-uicolors-fuchsia-200: #f5d0fe;
  --color-uicolors-indigo-600: #4f46e5;
  --color-uicolors-green-400: #00dc82;
  --color-uicolors-green-200: #b3f5d1;
  --color-uicolors-cyan-50: #ecfeff;
  --color-uicolors-green-100: #d9fbe8;
  --color-uicolors-indigo-200: #c7d2fe;
  --color-uicolors-emerald-200: #a7f3d0;
  --color-uicolors-teal-300: #5eead4;
  --color-uicolors-lime-400: #b2ff00;
  --color-uicolors-yellow-800: #854d0e;
  --color-uicolors-cool-900: #111827;
  --color-uicolors-teal-500: #14b8a6;
  --color-uicolors-green-950: #052e16;
  --color-uicolors-lime-950: #1e3400;
  --color-uicolors-green-900: #0a5331;
  --color-uicolors-yellow-600: #ca8a04;
  --color-uicolors-red-600: #dc2626;
  --color-uicolors-cyan-800: #155e75;
  --color-uicolors-slate-950: #020617;
  --color-uicolors-pink-400: #f472b6;
  --color-uicolors-lime-700: #5a8b00;
  --color-uicolors-slate-100: #f1f5f9;
  --color-uicolors-sky-100: #e0f2fe;
  --color-uicolors-yellow-300: #fde047;
  --color-uicolors-blue-400: #60a5fa;
  --color-uicolors-lime-600: #77b800;
  --color-uicolors-lime-300: #d0ff50;
  --color-uicolors-amber-200: #fde68a;
  --color-uicolors-emerald-700: #047857;
  --color-uicolors-blue-700: #1d4ed8;
  --color-uicolors-blue-500: #3b82f6;
  --color-uicolors-amber-50: #fffbeb;
  --color-uicolors-indigo-800: #3730a3;
  --color-uicolors-slate-50: #f8fafc;
  --color-uicolors-green-700: #007f45;
  --color-uicolors-zinc-600: #52525b;
  --color-uicolors-pink-900: #831843;
  --color-uicolors-emerald-300: #6ee7b7;
  --color-uicolors-orange-900: #7c2d12;
  --color-uicolors-purple-500: #a855f7;
  --color-uicolors-pink-50: #fdf2f8;
  --color-uicolors-yellow-700: #a16207;
  --color-uicolors-slate-900: #0f172a;
  --color-light-500: rgba(255, 255, 255, 0.5);
  --color-light-400: rgba(255, 255, 255, 0.4);
  --color-light-300: rgba(255, 255, 255, 0.3);
  --color-light-200: rgba(255, 255, 255, 0.2);
  --color-light-100: rgba(255, 255, 255, 0.1);
  --color-light-80: rgba(255, 255, 255, 0.08);
  --color-light-60: rgba(255, 255, 255, 0.06);
  --color-light-40: rgba(255, 255, 255, 0.04);
  --color-light-20: rgba(255, 255, 255, 0.02);
  --color-light-10: rgba(255, 255, 255, 0.01);
  --color-light-0: rgba(255, 255, 255, 0);
  --color-uicolors-neutral-50: #fafafa;
  --color-dark-1000: #000;
  --color-dark-900: rgba(0, 0, 0, 0.9);
  --color-dark-800: rgba(0, 0, 0, 0.8);
  --color-dark-700: rgba(0, 0, 0, 0.7);
  --color-dark-600: rgba(0, 0, 0, 0.6);
  --color-dark-500: rgba(0, 0, 0, 0.5);
  --color-dark-400: rgba(0, 0, 0, 0.4);
  --color-dark-300: rgba(0, 0, 0, 0.3);
  --color-dark-200: rgba(0, 0, 0, 0.2);
  --color-dark-100: rgba(0, 0, 0, 0.1);
  --color-dark-80: rgba(0, 0, 0, 0.08);
  --color-dark-60: rgba(0, 0, 0, 0.06);
  --color-dark-40: rgba(0, 0, 0, 0.04);
  --color-dark-20: rgba(0, 0, 0, 0.02);
  --color-dark-10: rgba(0, 0, 0, 0.01);
  --color-dark-0: rgba(0, 0, 0, 0);
  --📦-common-◻︎-neutral-hightest: var(--color-dark-1000);
  --📦-common-◻︎-neutral-highter: var(--color-uicolors-zinc-700);
  --📦-common-◻︎-neutral-lower: var(--color-uicolors-neutral-100);
  --📦-common-◻︎-neutral-hight: var(--color-uicolors-neutral-600);
  --📦-common-◻︎-neutral-medium: var(--color-uicolors-neutral-400);
  --📦-common-◻︎-neutral-low: var(--color-uicolors-neutral-300);
  --📦-common-◻︎-neutral-lowest: var(--color-light-1000);
  --📦-common-★-primary-highter: var(--color-uicolors-lime-800);
  --📦-common-★-primary-hight: var(--color-uicolors-lime-600);
  --📦-common-★-primary-medium: var(--color-uicolors-lime-400);
  --📦-common-★-primary-low: var(--color-uicolors-lime-300);
  --📦-common-★-primary-lower: var(--color-uicolors-lime-100);
  --📦-common-★-primary-hightest: var(--color-uicolors-lime-950);
  --📦-common-★-primary-lowest: var(--color-uicolors-lime-50);
  --📦-common-⚠-danger-hightest: var(--color-uicolors-red-950);
  --📦-common-⚠-danger-highter: var(--color-uicolors-red-900);
  --📦-common-⚠-danger-low: var(--color-uicolors-red-300);
  --📦-common-⚠-danger-hight: var(--color-uicolors-red-700);
  --📦-common-⚠-danger-medium: var(--color-uicolors-red-500);
  --📦-common-⚠-danger-lower: var(--color-uicolors-red-100);
  --📦-common-⚠-danger-lowest: var(--color-uicolors-red-50);
  --📦-common-✓-success-hightest: var(--color-uicolors-emerald-950);
  --📦-common-✓-success-highter: var(--color-uicolors-emerald-900);
  --📦-common-✓-success-hight: var(--color-uicolors-emerald-700);
  --📦-common-✓-success-lower: var(--color-uicolors-emerald-100);
  --📦-common-✓-success-medium: var(--color-uicolors-emerald-500);
  --📦-common-✓-success-low: var(--color-uicolors-emerald-300);
  --📦-common-✓-success-lowest: var(--color-uicolors-emerald-50);
  --shade-◻️-light-200: var(--color-light-200);
  --shade-◻️-light-300: var(--color-light-300);
  --shade-◼️-dark-10: var(--color-dark-10);
  --shade-◼️-dark-20: var(--color-dark-20);
  --shade-◼️-dark-700: var(--color-dark-700);
  --shade-◻️-light-100: var(--color-light-100);
  --shade-◼️-dark-100: var(--color-dark-100);
  --shade-◻️-light-600: var(--color-light-600);
  --shade-◻️-light-700: var(--color-light-700);
  --shade-◼️-dark-300: var(--color-dark-300);
  --shade-◻️-light-60: var(--color-light-60);
  --shade-◼️-dark-400: var(--color-dark-400);
  --shade-◼️-dark-40: var(--color-dark-40);
  --shade-◼️-dark-500: var(--color-dark-500);
  --shade-◼️-dark-60: var(--color-dark-60);
  --shade-◼️-dark-800: var(--color-dark-800);
  --shade-◼️-dark-80: var(--color-dark-80);
  --shade-◻️-light-400: var(--color-light-400);
  --shade-◻️-light-900: var(--color-light-900);
  --shade-◻️-light-1000: var(--color-light-1000);
  --shade-◻️-light-0: var(--color-light-0);
  --shade-◻️-light-10: var(--color-light-10);
  --shade-◻️-light-800: var(--color-light-800);
  --shade-◻️-light-40: var(--color-light-40);
  --shade-◻️-light-500: var(--color-light-500);
  --shade-◼️-dark-1000: var(--color-dark-1000);
  --shade-◼️-dark-0: var(--color-dark-0);
  --shade-◼️-dark-600: var(--color-dark-600);
  --shade-◼️-dark-200: var(--color-dark-200);
  --shade-◼️-dark-900: var(--color-dark-900);
  --shade-◻️-light-20: var(--color-light-20);
  --shade-◻️-light-80: var(--color-light-80);
  --shade-fixed-fix-dark: var(--color-dark-1000);
  --shade-fixed-fix-light: var(--color-light-1000);

  --transition-duration: 0.3s;
}
